main{
    height: 100vh;
    background-color: cornflowerblue;
}
.timer{
    width: 50vw;
    height: 50vw;
    background-color: coral;
    border-radius: 50%;
    color: white;
    font-size: 10vh;
    border: solid white;
}
.number-grid{
    background-color: coral;
    font-size: 2em;
}
.number-slot{
    width: 100px;
    border: none
}
span{
    color: cornflowerblue;
    border: solid cornflowerblue
}
h1{
    color: white;
}
button{
    border: solid coral;
    color: coral
}